/*Animacao de entrada da mosca*/
@keyframes fadeMosca {
    from {
        width: 0;
        height: 0;
    }

}

/*Animacao de saida do spash*/
@keyframes outSplash {
    to {
        opacity: 0;
    }
}

img {
    max-width: 100%;
}

html {
    cursor: url('../images/mata_mosca.png') 30 30, auto;
}

body {
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    height: 100vh;

}

#splash {
    animation: outSplash 0.5s;
}

.mosca1 {
    width: 60px;
    height: 60px;
    animation: fadeMosca 0.4s;
}

.mosca2 {
    width: 80px;
    height: 80px;
    animation: fadeMosca 0.4s;
}

.mosca3 {
    width: 100px;
    height: 100px;
    animation: fadeMosca 0.4s;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.pontos {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .painel {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0;
        top: 0px;
        left: 0;
        bottom: auto;
    }

    .painel div {
        margin: 0 10px;
    }

    .cronometro {
        float: left;
        font-size: 17px;
        font-weight: bold;
    }

    .pontos {
        float: left;
        font-size: 17px;
        font-weight: bold;
    }
}

/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/